body {
    background-color: #997e93;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color:#F8E3F3 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    margin-bottom: 10px;
}

.profile-info strong {
    font-weight: bold;
}

.change-phone {
    margin-top: 20px;
}

.change-phone h3 {
    color: #333;
    margin-bottom: 10px;
}

.change-phone form {
    display: flex;
    flex-direction: column;
}

.change-phone input[type="password"],
.change-phone input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.change-phone button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.change-phone button:hover {
    background-color: #45a049;
}

p a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
.social a 
{
    padding: 0.2rem;
    color: blue;
}